<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
    <key>CFBundleName</key>
    <string>Overhear</string>
    <key>CFBundleIdentifier</key>
    <string>io.upsidelab.overhear</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>CFBundleShortVersionString</key>
    <string>1.1.1</string>
    <key>LSUIElement</key>
    <true/>
    <key>NSHumanReadableCopyright</key>
    <string>Copyright © 2026 Rafal Cymerys. All rights reserved.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Overhear needs microphone access to listen for the wake word and transcribe your speech.</string>
</dict>
</plist>
